@model List<ProductsModel>;

@{
    ViewData["Title"] = "Products";
}

<h1>Please check our New products</h1>

<br>

<div class="main">
    <div class="input-group">
        <input id="searchText" type="text" class="form-control" placeholder="Search Products....">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="btnSearch">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>

<div id="filteredProducts">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://bit.ly/3cnYoM1" alt="MenShirt" height="300">
                <div class="card-body">
                    <h5 class="card-title">@Model[i].Name</h5>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
            <br>
            <br>
        }
    }

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                var key = $("#searchText").val();
                
                data = {
                    searchText: key
                };

                $.ajax({
                    url: "/Home/Products",
                    data: data,
                    success: function (result) {
                        $("#filteredProducts").html(result);
                    }
                });
            });
        });
    </script>
}