@model List<ProductsModelUpdated>;

@{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3cnYoM1" alt="MenShirt" height="300">
            <div class="card-body">
                <h5 class="card-title">@Model[i].Name</h5>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
        <br>
        <br>
    }
}
