@model DollarShop.Models.DTOs.Product.AddRequestDTO;

@{
    ViewData["Title"] = "Add Products";
}

<h1>Add Product </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="Create" method='post' enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input type="text" id="Name" name="Name" placeholder="Shirt..." class="form-control"><br>          
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <input type="text" id="Price" name="Price" placeholder="Price..." class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="Catagory" class="control-label">Choose A Catagory</label>
                <select id="Catagory" name="Catagory" class="custom-select">
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                    <option value="Children">Children</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ImageFile" class="control-label"></label>
                <input type="file" id="ImageFile" name="ImageFile" multiple="multiple" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" id="btnAdd" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="ProductsFromJson">Back to List</a>
</div>
